.subcategory {
    padding: 10px 40px;

    &__heading-sort-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        font-size: 18px;
        color: var(--button-text-color);
        margin-bottom: 10px;
        font-weight: normal;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__sort-wrapper {
        display: flex;
        gap: 10px;
        color: var(--shadow-color);
    }

    &__sort {
        cursor: pointer;
        &:hover {
            color: var(--button-text-color);
        }
    }
}

.sort-active {
    color: var(--main-color);
    text-decoration: underline;
}
