.subcategory {
    padding: 10px 40px;

    &__heading {
        font-size: 18px;
        color: var(--button-text-color);
        margin-bottom: 20px;
        font-weight: normal;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
