:host {
    display: flex;
    padding: 10px 40px;
}

.favorite {
    &__empty-text {
        font-size: 12px;
        color: var(--shadow-color);
    }

    &__empty-back {
        color: var(--main-color);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
