<div class="location-popup">
    <h2>Населённый пункт</h2>
    <img src="../../../assets/cross.png" alt="close" class="location-popup__cross" (click)="isShown.emit(false)">
    <span class="location-popup__text">Вам будут показаны товары, а также условия доставки для выбранного населенного пункта.</span>
    <label class="location-popup__label">Населённый пункт
        <input type="text" class="location-popup__input" [(ngModel)]="city" (focus)="isListShown=true">
    </label>
    <div *ngIf="isListShown" class="location-popup__list-wrapper">
        <ul class="location-popup__list">
            <li  class="location-popup__list-item" *ngFor="let cityItem of cities" (click)="city=cityItem;isListShown=false">{{cityItem}}</li>
        </ul>
    </div>
    <button class="location-popup__btn" 
    (click)="newCity.emit(city);isShown.emit(false)"
    >Сохранить</button>
</div>