:host {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
}
.column {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-good {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 250px;
    height: 100px;
    padding: 10px;
    position: relative;

    &__img-wrapper {
        flex: 0 0 50px;
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
    }

    &__like {
        position: absolute;
        right: 20px;
        top: 60px;
        z-index: 10;
        transition: .4s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: .4s ease;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        font-size: 12px;
    }

    &__name {
        text-align: left;
        height: 60px;
        text-decoration: underline;
        color: var(--main-color);
        cursor: pointer;
    }

    &__delete {
        cursor: pointer;
        font-size: 12px;
        color: var(--button-text-color);
        position: absolute;
        bottom: 10px;
        left: 10px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__rating-star {
        width: 10px;
        height: auto;
    }

    &__rating-wrapper {
        display: flex;
    }
}
.cart-amount {
    display: flex;
    justify-content: center;
    align-items: center;

    &__counter {
        color: var(--main-color);
        font-weight: bold;
        font-size: 16px;
        border: 1px solid var(--main-color);
        background-color: var(--hover-color);
        padding: 0 10px;
        cursor: pointer;
    }
    &__input {
        color: var(--shadow-color);
        font-size: 16px;
        text-align: center;
        width: 30px;
        border: 1px solid var(--hover-color);

    }
}

.cart__delivery {
    color: var(--shadow-color);
}

.cart__price {
    color: var(--main-color);
}
