<div class="cart-good column" *ngIf="good">
  <div class="cart-good__img-wrapper">
    <img
      [src]="
        good.imageUrls.length > 0 ? good.imageUrls[0] : '../../../../../assets/default_preview.jpeg'
      "
      alt=""
      class="cart-good__img"
    />
  </div>

  <div class="cart-good__text-wrapper">
    <p
      (click)="router.navigate(['categories', good.category, good.subCategory, good.id])"
      class="cart-good__name"
    >
      {{ good.name }}
    </p>
    <div class="cart-good__rating-like-wrapper">
      <ul class="cart-good__rating-wrapper">
        <li *ngFor="let i of orderService.getCountOfRating(good.rating)">
          <img src="../../../assets/rating.png" alt="rating" class="cart-good__rating-star" />
        </li>
      </ul>
      <svg
        (click)="$event.stopPropagation(); onLikeClick(isGoodFavorite)"
        class="cart-good__like"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        <path
          [ngStyle]="{ fill: isGoodFavorite ? '#EC0A0A' : 'none' }"
          stroke="#EC0A0A"
          stroke-width="2"
          d="M10.003 17.414l.783-.691c4.865-4.317 6.388-5.849 7.44-7.759.522-.948.774-1.843.774-2.76 0-2.45-1.967-4.37-4.5-4.37-1.423 0-2.828.644-3.746 1.697L10 4.395l-.754-.864C8.328 2.478 6.923 1.833 5.5 1.833c-2.533 0-4.5 1.92-4.5 4.37 0 .922.255 1.82.781 2.774 1.054 1.907 2.588 3.447 7.433 7.737l.789.7z"
        />
      </svg>
    </div>
  </div>
  <p
    (click)="orderService.deleteFromList(good.id, 'cart'); id.emit(good.id)"
    class="cart-good__delete"
  >
    удалить
  </p>
</div>
<div class="cart-amount column">
  <span (click)="onDecrementClick(good.price)" class="cart-amount__counter">-</span>
  <div (input)="changeCommonPrice()" class="cart-amount__input">{{ amount }}</div>
  <span (click)="onIncrementClick(good.price)" class="cart-amount__counter">+</span>
</div>
<div class="cart__delivery column">Товар может быть доставлен 28.09.2021г.</div>
<div class="cart__price column">{{ commonPrice$ | async }} р.</div>
