:root {
    --shadow-color: rgb(156, 154, 154);
    --main-color: rgb(4, 123, 145);
    --hover-color: rgb(211, 234, 238);
    --submain--color: rgb(230, 228, 228);
    --button-text-color: rgb(192, 99, 62);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: Raleway;
    font-size: 14px;
}

button {
    cursor: pointer;
    transition: .2s ease;

    &:hover {
        box-shadow: 5px 5px 10px gray;
        transition: .2s ease;
    }
}

li {
    cursor: pointer;
    list-style-type: none;
}