:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
}
.info {
    display: flex;
    gap: 5px;

    &__clock {
        width: 15px;
        height: 15px;
    }

    &__text {
        color: var(--shadow-color);
    }
}

