:host {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
    cursor: pointer;
}
.nav-button {
    color: var(--button-text-color);
    background-color: var(--hover-color);
    height: 40px;
    border: none;
    padding: 0 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__icon {
        width: 20px;
        height: 20px;
    }
    .close {
        &:hover, &:active {
            filter: none;
        }
    }
}

.search-wrapper {
    position: relative;
}

.search-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: grayscale(1);
    position: absolute;
    top: 10px;
    left: 5px;

    &:hover, &:active {
        filter: none !important;
    }
}
.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    filter: grayscale(1);

    &:hover {
        filter: none;
    }
}
.nav-search {
    padding: 5px 5px 5px 30px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid var(--hover-color);
}
.inactive {
    background-color: var(--submain-color);
    border: 1px solid var(--main-color);
    color: var(--shadow-color);
      
    & > .nav-button__icon {
        filter: grayscale(1);
    }
}