:host {
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
}
.nav-button {
    color: var(--button-text-color);
    background-color: var(--hover-color);
    height: 40px;
    border: none;
    padding: 0 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__icon {
        width: 20px;
        height: 20px;
    }
    .close {
        &:hover, &:active {
            filter: none;
        }
    }

    &__account-img {
        width: 40px;
        height: auto;
    }

    &__account {
        position: relative;
    }

    &__login {
        width: 250px;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        box-shadow: 1px 1px 1px 1px var(--hover-color);
        top: 43px;
        left: -70px;
        background-color: white;
        z-index: 10000;
    }

    &__button {
        background-color: var(--main-color);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
    }

    &__text {
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: var(--main-color);
    }

    &__user {
        text-align: center;
    }
}

.search-wrapper {
    position: relative;
}

.search-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    filter: grayscale(1);
    position: absolute;
    top: 10px;
    left: 5px;

    &:hover, &:active {
        filter: none !important;
    }
}
.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    filter: grayscale(1);

    &:hover {
        filter: none;
    }
}
.nav-search {
    padding: 5px 5px 5px 30px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid var(--hover-color);
}
.inactive {
    background-color: var(--submain-color);
    border: 1px solid var(--main-color);
    color: var(--shadow-color);

    & > .nav-button__icon {
        filter: grayscale(1);
    }
}

.inactive_disabled {
    background-color: var(--submain-color);
    border: 1px solid var(--main-color);
    color: var(--shadow-color);
    pointer-events: none;

    & > .nav-button__icon {
        filter: grayscale(1);
    }
}

@media (min-width: 500px) and (max-width: 840px) {
    .search-wrapper {
        order: 2;
    }
    .logo {
        order: 1;
    }

    .catalog {
        order: 3;
    }
    .nav-button__account {
        order: 4;
    }
    .cart {
        order: 5;
    }

    :host {
        flex-wrap: wrap;
    }
    }
