<mat-form-field [formGroup]="formDelivery">
  <input
    class="text"
    matInput
    [ngxMatDatetimePicker]="picker"
    placeholder="Выберите дату и время*"
    formControlName="timeToDeliver"
    [min]="minDate"
    [max]="maxDate"
  />
  <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker
    #picker
    [showSpinners]="showSpinners"
    [showSeconds]="showSeconds"
    [stepHour]="stepHour"
    [stepMinute]="stepMinute"
    [stepSecond]="stepSecond"
    [touchUi]="touchUi"
    [color]="color"
    [enableMeridian]="enableMeridian"
    [disableMinute]="disableMinute"
    [hideTime]="hideTime"
  >
    <!-- Custom icon or text of Apply icon -->
    <ng-template>
      <!-- <mat-icon>star</mat-icon> -->
      <span>OK</span>
    </ng-template>
  </ngx-mat-datetime-picker>
</mat-form-field>
