.cart{
    &__order {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 0 0 100%;

        &__label {
            display: block;
            color: var(--shadow-color);

        }

        &__input {
            display: block;
            border: 1px solid var(--hover-color);
            padding: 5px;
            width: 100%;
        }

        &__textarea {
            border: 1px solid var(--hover-color);
            display: block;
            padding: 5px;
            width: 100%;
        }

        &__btn {
            background-color: var(--hover-color);
            color: var(--main-color);
            border:none;
            padding: 10px 15px;
            border-radius: 5px;
            align-self: flex-end;
        }

        &__line {
            width: 100%;
            height: 1px;
            background-color: var(--hover-color);
        }

               &__warning {
            position: absolute;
            top: 100%;
            display: flex;
            gap: 5px;
            align-items: center;

            &-text {
                color: red;
                font-size: 12px;
            }

            &-icon {
                width: 12px;
                height: 12px;
            }
        }

        &-block {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
        }

        &-line {
            width: 100%;
            height: 1px;
            background-color: var(--hover-color);
        }

        &-heading {
            color: var(--shadow-color);
            font-size: 16px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;
            font-size: 14px;
            position: relative;
            width: 300px;


        }

    }
}
