:host {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    &__heading {
        color: var(--shadow-color);
        font-size: 18px;
        justify-self: flex-start;
        margin-bottom: 10px;
    }
    &__empty-text {
        font-size: 12px;
        color: var(--shadow-color);
    }

    &__empty-back {
        color: var(--main-color);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__table {
        display: flex;
        width: 100%;

        &-column {
            flex: 0 0 25%;
            text-align: center;
            color: var(--shadow-color);
        }
    }

    &__common-price {
        text-align: right;
        color: var(--shadow-color);
    }

    &__order-button {
        color: var(--button-text-color);
        background-color: var(--hover-color);
        border: none;
        padding: 5px 15px;
        justify-self: flex-end;
        align-self: flex-end
    }
}
