.category {
    padding: 10px 40px;

    &__heading {
        font-size: 20px;
        text-decoration: underline;
        margin-bottom: 20px;
        color: var(--shadow-color);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;

    }
    &__item {
        &:hover > .category__link {
            color: var(--main-color);
        }
    }
    &__link {
        font-size: 16px;
    }

}
