<div class="category">
  <div class="category__breadcrumbs">
    <p (click)="router.navigate([''])" class="category__breadcrumbs-item">Главная</p>
  </div>
  <h3 class="category__heading">{{ (category$ | async)?.name }}</h3>
  <ul class="category__list">
    <li *ngFor="let subcategory of (category$ | async)?.subCategories" class="category__item">
      <a class="category__link" routerLink="{{ subcategory.id }}">
        <img src="../../../assets/marker.png" alt="marker" class="category__marker" />
        {{ subcategory.name }}
      </a>
    </li>
  </ul>
</div>
