<div class="login-overlay"></div>
<form class="login" (ngSubmit)="loginUser(form)" ngNativeValidate #form="ngForm">
  <h2 class="login__heading">Вход</h2>
  <img
    (click)="coreDataService.hideLoginForm()"
    src="../../../assets/cross.png"
    alt="close"
    class="login__cross"
  />
  <label class="login__label">
    Логин
    <input type="text" class="login__input" name="login" ngModel required />
  </label>
  <label class="login__label login__label-password">
    Пароль
    <input type="password" class="login__input" name="password" ngModel required />
    <div class="login__warning" *ngIf="areCredentialsInvalid$$ | async">
      <img src="../../../assets/warning.png" alt="error" class="login__warning-icon" />
      <p class="login__warning-text">Неверное имя пользователя или пароль!</p>
    </div>
  </label>

  <button type="submit" class="login__btn">Войти</button>
  <div class="login__line"></div>
  <p class="login__registr">Регистрация</p>
</form>
