:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3020;
    background-color: gray;
    opacity: .8;

}
.login {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px var(--hover-color);
    position: relative;
    z-index: 3020;

    &__heading {
        align-self: center;
        color: var(--main-color);
        font-size: 18px;
    }

    &__cross {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        filter: grayscale(1);

        &:hover {
            filter: none;
        }
    }

    &__label {
        display: block;
        color: var(--shadow-color);
    }

    &__input {
        display: block;
        border: 1px solid var(--hover-color);
        padding: 5px;
        width: 100%;
    }

    &__btn {
        align-self: center;
        background-color: var(--hover-color);
        color: var(--main-color);
        border:none;
        padding: 10px 15px;
        border-radius: 5px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: var(--hover-color);
    }

    &__registr {
        align-self: center;
        color: var(--main-color);
        cursor: pointer;

        &:hover {
            color: var(--button-text-color);
        }
    }
}
