:host {
    position: relative;
}
.menu {
    position: absolute;
    background-color: white;
    width: 200px;
    left: 40px;
    box-shadow: 1px 1px 1px 1px var(--main-color);

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__item {
        padding: 5px;

        &:hover {
            background-color: var(--hover-color);
        }
    }
}